{% extends "base.html" %}

{% block titulo %}
Listar Funcionarios
{% endblock %}

{% block titulo_pagina %}
Funcionarios
{% endblock %}

{% block conteudo %}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if funcionarios %}
    <ul>
        {% for funcionario in funcionarios %}
            <li>
                <strong>{{funcionario.id}}: {{ funcionario.nome }} - {{ funcionario.funcao }}</strong>
                <a href="#" style="text-decoration:none">
                    <i class="fas fa-search" style="color:blue"></i>
                </a>
                <a href="{% url 'funcionario:editar' pk=funcionario.id %}" style="text-decoration:none">
                    <i class="fas fa-pencil" style="color:green"></i>
                </a>
                <a href="{% url 'funcionario:deletar' pk=funcionario.id %}" style="text-decoration:none">
                  <i class="fas fa-trash" style="color:red"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Não há produtos cadastrados.</p>
    {% endif %}
{% endblock %}
