{% extends "base.html" %}

{% block titulo %}
Listar Animais
{% endblock %}

{% block titulo_pagina %}
Animais
{% endblock %}

{% block conteudo %}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="alert alert-warning">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if animais %}
    <ul class="list-group div35">
        {% for animal in animais %}
            <li class="list-group-item">
                <strong>{{animal.id}}: {{ animal.nome_animal }}</strong>
                <span class="span"></span>
                  <a href="{% url 'animal:editar' pk=animal.id %}" style="text-decoration:none">
                    <i class="fas fa-pencil" style="color:#F2BE24"></i>
                  </a>
                  <a href="{% url 'animal:deletar' pk=animal.id %}" style="text-decoration:none">
                    <i class="fas fa-trash" style="color: var(--main-red)"></i>
                  </a>
                </span>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Não há animais cadastrados.</p>
    {% endif %}
{% endblock %}
