{% extends "base.html" %}

{% block titulo %}
Listar Baias
{% endblock %}

{% block titulo_pagina %}
Baias
{% endblock %}

{% block conteudo %}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="alert alert-warning">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if baias %}
    <ul class="list-group div35">
        {% for baia in baias %}
        <li class="list-group-item">
                <strong>{{baia.id}}: {{ baia.nome_baia }}</strong>
                <span class="span">
                  <a href="{% url 'baias:editar' pk=baia.id %}" class="mx-2" style="text-decoration:none; text-align: end;">
                    <i class="fas fa-pencil" style="color:#F2BE24"></i>
                  </a>
                  <a href="{% url 'baias:deletar' pk=baia.id %}" class="mx-2" style="text-decoration:none; text-align: end;">
                    <i class="fas fa-trash" style="color: var(--main-red)"></i>
                  </a>
                </span>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Não há baias cadastradas.</p>
    {% endif %}
{% endblock %}
